package notfound

import "github.com/JamesTiberiusKirk/lambdaban/internal/components"
import "net/http"

templ PageNotFound(r *http.Request) {
	@components.Layout(r){
		<div>404 - Not found</div>
	}
}
