html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 2em;
    padding-top: 0px;
}

.notifications{
    z-index: 100;
    width: 20%;
    max-height: 80%;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    gap: 5px;

    .notification{
        font-size: 24px;
    }
}

.noDecoration, a:link, a:visited {
    cursor: pointer;
    text-decoration: none;
}

/*------------------------------------*/


.links {
    display: flex;
    gap: 10px;
    a {
        display: inline-block;
        width: 40px;
        height: 40px;
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }
    .gh {
        margin-right: auto;
        background-image: url(/assets/github.svg);
    }
}



.cs-separator-right {
    border-left: 0;
    border-bottom: 0;
    border-top-color: var(--border-dark);
    border-right-color: var(--border-light);
}

.cs-panel {
    display: block;
    position: relative;
    padding: 32px 39px 27px;
    background: var(--bg);
    width: 100%;
    border-left: solid 1px var(--border-light);
    border-bottom: solid 1px var(--border-dark);
    border-right: solid 1px var(--border-dark);
    border-top: solid 1px var(--border-light);
    color: var(--text);
}

.cs-panel .dialog-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.cs-panel .dialog-buttons button {
    width: 120px;
}

.cs-panel .close {
    position: absolute;
    top: 10px; /* Adjust based on your padding */
    right: 10px; /* Adjust based on your padding */
    padding: 0px;
    width: 18px;
    height: 18px;
    background: no-repeat center center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath d='M3,3 4,3 4,4 3,4 M4,3 5,3 5,4 4,4 M3,4 4,4 4,5 3,5 M4,4 5,4 5,5 4,5 M4,5 5,5 5,6 4,6 M5,5 6,5 6,6 5,6 M5,4 6,4 6,5 5,5 M5,6 6,6 6,7 5,7 M6,6 7,6 7,7 6,7 M6,5 7,5 7,6 6,6 M6,7 7,7 7,8 6,8 M6,8 7,8 7,9 6,9 M7,8 8,8 8,9 7,9 M7,7 8,7 8,8 7,8 M7,6 8,6 8,7 7,7 M8,6 9,6 9,7 8,7 M8,7 9,7 9,8 8,8 M8,8 9,8 9,9 8,9 M8,5 9,5 9,6 8,6 M9,5 10,5 10,6 9,6 M9,6 10,6 10,7 9,7 M9,4 10,4 10,5 9,5 M10,4 11,4 11,5 10,5 M10,5 11,5 11,6 10,6 M10,3 11,3 11,4 10,4 M11,3 12,3 12,4 11,4 M11,4 12,4 12,5 11,5 M9,8 10,8 10,9 9,9 M9,9 10,9 10,10 9,10 M8,9 9,9 9,10 8,10 M10,9 11,9 11,10 10,10 M10,10 11,10 11,11 10,11 M9,10 10,10 10,11 9,11 M11,10 12,10 12,11 11,11 M11,11 12,11 12,12 11,12 M10,11 11,11 11,12 10,12 M5,8 6,8 6,9 5,9 M5,9 6,9 6,10 5,10 M6,9 7,9 7,10 6,10 M4,9 5,9 5,10 4,10 M4,10 5,10 5,11 4,11 M5,10 6,10 6,11 5,11 M3,10 4,10 4,11 3,11 M3,11 4,11 4,12 3,12 M4,11 5,11 5,12 4,12 ' fill='%238c9284'/%3E%3C/svg%3E");
}

&:focus-visible {
    padding: 0;
    outline: 0;
}

